*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    margin: 0em;
    padding: 0;
    
    /* background-image: linear height: 6em;-gradient(120deg, #5e7ad6 0%, #8fe8f4 100%);*/
    
    width: auto;
    height: auto;
    
    
}

/* -----INDEX ----*/

#LogoInicio {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-animation: LogoInicio 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: LogoInicio 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes LogoInicio {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes LogoInicio {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @media (max-width:254px){
   
    #LogoInicio {
        text-align: center;
        margin-top: 35%;
       
        

        flex-direction: column;

    }   
}
/*-------INDEX-----------*/

/* HEADER */
header{
    height: auto;
    width: auto; 
}
.encabezado{
    display: flex;
    height: 7em;
}
.Logo{
    width: 300px;
    height: auto;
    padding: 1em 1em 0.5em 1em;
}
.titulo{
    width: 800px;
    height: auto; 
}
.subtitulo{
    /*text-align: center; */
    color:black;
    padding-top: 1.5rem;
    padding-left: 12rem;
    font-size: 2.7vw;
    font-weight: bold; 
}
.mapa{
    Color:red;
    margin-left: 0.5vw;
    font-size: 1vw;
    font-weight: bold;
    padding-left: 17vw;
}
.descripcionnosotros{
    text-align:left; 
    padding-left: 15rem;
    color: red;
    font-weight: bold; 
}
/*-------- FIN HEADER -------*/

/*BARRA DE MENU*/
nav{
    text-align: right;
    font-size: 1em;
    height: 2.5rem;   
}
.menu{
    display: flex;
    background-color:black;  
}
.enlace{
    padding: 10px;
    text-decoration: none;
    font-weight: bold; 
    color:red;
}
.enlace:hover {  
    background: white;
    color: black;
}
/* -------- FIN BARRA DE MENU ------*/

/* DESTACADOS  */
h2{
    background-color: red;
    font-weight: bold;
    padding: 0.5rem;
    /*border-top: black 0.5rem solid;*/
    border-bottom: black 0.3rem solid;
}
section{
    flex:auto;
    background-color:white;
    padding: 5px;
    justify-content:space-between;
   /* border: black 0.5rem solid;*/
    min-height: 350px;
    max-height: 1200px;
}
main>div{
    text-align: center;
}
main div img{
    width: 25%;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
h4{
    padding: 0.5rem;
    font-size: 1.5vw;
    color: red;
    font-weight: bold; 
}
h4 a{ 
    color: red;
    padding: 1vw;
}
/*------ FIN DESTACADOS ------*/

/* FORMULARIO CONTACTO */
form{
    padding-left:  2rem;
    padding-right:  2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    border: 0.5rem black solid;
}
/*---- FIN FORMULARIO CONTACTO------------*/

/*NOSOTROS*/
h1{
    padding-left: 10vw;
}
.resumen{
    flex: auto;
    max-height:auto;
    /*border:red 0.5rem solid;*/
}
.nosotros{
    display: flex;
    /*border:black 0.5rem solid;*/
    height: 350px;
  /* background-color: red;*/
    margin: 3vw 3vw 0vw 3vw;
}
.detalle{
    position: relative;
    display: inline-block;
   /* border:black 1rem solid;*/
    max-width: 700px;
    max-height: 500px;
    height: auto;
    text-align: justify;
    padding: 1vw;
}
.gmapa{   
    float: right; 
}
.detalle p{
    padding: 3vw 4vw 1vw 3vw;
}
.detalle h1{
    padding-left: 3vw;
}
.gmapa iframe{
    width: 500px;
    height: 300px; 
}
/* --- FIN NOSOTROS --*/

/* CATALOGO  */
main{
    width: 100%;
    height: 100%;
}
/*----- FIN CATALOGO -----*/

/* FOOTER*/
footer{
    background-color: black;
}
.iconos{
    text-align: center;
    font-size: 1.3em;
    padding: 2%;
    border: 1em;
}
span{
    display:block;
    font-weight: bold;
    font-size: 0.6em;
    color: white;
}
i{
    border:none; 
}
a{
    text-decoration: none;
    padding: 0.1em;
    Color: white;  
}
/* ---- FIN FOOTER ---- */

/* ---- FOOTER INDEX ---- */
.iconosInicio{
    background-color:white;
    text-align: center;
    font-size: 1.3em;
    padding: 2%;
    border: 1em;
}
.iconoInicio > span{
    display:block;
    font-weight: bold;
    font-size: 0.6em;
    color:black
}
.iconosInicio i{
    border:none; 
}
  .iconosInicio a{
    text-decoration: none;
    padding: 0.1em;
    Color: black
}
/* ---- FIN FOOTER INDEX ---- */

/*@media (max-width:320px){*/
@media screen and (min-width: 320px) and (max-width: 479px) {
    #LogoInicio {
        text-align: center;
        margin-top: 5%;
    }
    .encabezado{
        height: 3.5em;
    }
    .Logo{
        width: 50px;
        height: 10vw;
        padding: 0.2em;
    }
    .Logo img{
        margin-top: 5px;
        margin-left: 5px;
        padding-top: 5px;
        padding-left: 5px;
        width: 40px;
    }
    .titulo{
        width: 300px;
        height: auto; 
    }
    .subtitulo{
        /*text-align: center; */
        padding-top: 1.5rem;
        padding-left: 5rem;
        font-size: 3vw;
    }
    .descripcionnosotros{
        font-size: 1.5vw;
        padding-left: 5.2rem;
    }
   
    /* BARRA DE MENU */
    .menu{
        text-align: right;
        font-size: 0.6em;
        height: 6.5vw;
    }
    .menu a{
        padding: 0.3rem;
    }
    /* --- FIN BARRA DE MENU ---*/
    
    /* DESTACADOS */
    h2{
        font-size: 0.6em;
        padding: 0.3rem;
        margin-bottom: 0.8rem;
        border-bottom: black 0.1vw solid;
        height: 6vw;
    }
    h4{
        padding: 0.1rem;
        font-size: 1.9vw;
    
    }
    /* ----FIN DESTACADOS ---- */
 
    /* CONTACTO */
    .h3{
        font-size: 1em;
    }
    form{
        border-top: 0.1rem black solid;
    }
    /* ---- FIN CONTACTO ---- */
    
    /* NOSOTROS */
    .resumen{
        max-width: 350px;
        max-height: 400px;
    }
    .nosotros{
        display: inline-block;
        height: 300px;
        margin: 3vw 3vw 0vw 3vw;
    }
    .detalle{   
        padding-left: 3vw;
        max-width: 300px;
        height: 130px;
    }
    .detalle h1{
        font-size: 2.8vw;
    }
    .detalle p{
        font-size: 2.3vw;
    }
    .gmapa{  
        float: none;
        padding: 3vw ;
        max-width: 300px;
        height: 120px;
    }
    .gmapa iframe{
        max-width: 280px;
        height: 100px;
    }
    /* CATALOGO */
    main p{
        font-size: 2vw ;
    }
    /* ------ FIN CATALOGO ----- */
    
    /* ---- FOOTER ---- */
    footer{
        height: 10vw;
    }
    .iconos span{
        font-size: 1.9vw;
        padding: 0.5em;
    }
    .iconos {
        font-size: 1.9VW;
    }
    /* ---- FIN FOOTER ---- */
    
    /* ---- FOOTER INDEX ---- */
    #LogoInicio {
        margin-top: 35%;
        text-align: center;
    }
    .iconosInicio{
        font-size: 2.4VW;
   
    }
    .iconoInicio > span{
        font-size: 2.4vw;
        padding: 0.7em;
    }
    /* ---- FIN FOOTER INDEX ---- */
}
@media screen and (min-width: 480px) and (max-width: 568px){
    /*  INDEX  */
    #LogoInicio {
        margin-top: 15%;
    }
    /*  --- FIN INDEX --- */

    /* HEADER */
    .Logo{
        max-width: 40em;
        max-height: 40em;
        padding: 0.7em;
    }
    .Logo img{
        margin-top: 2px;
        margin-left: 2px;
        max-width: 40em;
    }
    .encabezado{
        max-height: 4em;
    }
    .subtitulo{
          /*text-align: center; */
        
        padding-left: 3em;
        font-size: 3vw;
        padding-top: 1.3em;
    }
    .descripcionnosotros{
        font-size: 1.5vw;
        padding-left: 7em;
    }
    /* ---- FIN HEADER -----*/

    /* BARRA DE MENU */
    .menu{
        text-align: right;
        font-size: 0.7em;
        height: 5vw;
    }
    .menu a{
        padding: 0.5rem;
    }
    /* --- FIN BARRA DE MENU ---*/
    
    /* DESTACADOS */
    h2{
        font-size: 0.7em;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: black 0.1vw solid;
        height: 5vw;
    }
    h4{
        padding: 0.1rem;  
    }
    /* ----FIN DESTACADOS ---- */
 
    /* CONTACTO */
    .h3{
        font-size: 1em;
    }
    form{
        border-top: 0.1rem black solid;
    }
    /* ---- FIN CONTACTO ---- */
    
    /* NOSOTROS */
    .resumen{
        max-width: 27em;
        max-height: 430px;
    }
    .nosotros{
        display: inline-block;
        max-width: 27em;
        height: 450px;
        margin: 3vw 0vw 0vw 3vw;
    }
    .detalle{   
        max-width: 27em;
        padding-left: 2vw;
        padding-right: 0vw;
        height: auto;
    }
    .detalle h1{
        font-size: 2.5vw;
    }
    .detalle p{
        font-size: 1.7vw;
    }
    .gmapa{  
        float: none;
        margin-top: 2vw;
    
        max-width: 27em;
        height: 200px;
    }
    .gmapa iframe{
        padding-left: 6vw;
    
        max-width: 27em;
        height: 200px;
    }

    /* CATALOGO */
    main p{
        font-size: 2vw ;
    }
    /* ------ FIN CATALOGO ----- */

    /* ---- FOOTER ---- */
    footer{
        height: 10vw;
    }
    .iconos span{
        font-size: 1.7vw;
        padding: 0.5em;
    }
    .iconos {
        font-size: 1.7VW;
    }
    /* ---- FIN FOOTER ---- */
    
    /* ---- FOOTER INDEX ---- */
    .iconosInicio{
        font-size: 2VW;
    }
    .iconoInicio > span{
        color: red;
        font-size: 2vw;
        padding: 0.7em;
    }
    /* ---- FIN FOOTER INDEX ---- */
}
@media screen and (min-width: 569px) and (max-width: 767px){
    /*  INDEX  */
    #LogoInicio {
        margin-top: 20%;
    }
    /*  --- FIN INDEX --- */

    /* HEADER */
    .Logo{
        width: 35%;
        height: 15vw;
        padding: 0.5em;
    }
    .Logo img{
        margin-top: 2px;
        margin-left: 2px;
        width: 3em;
    }
    .encabezado{
        height: 4em;
    }
    .subtitulo{
      
        padding-left: 5rem;
        font-size: 3vw;
        padding-top: 1.3rem;
    }
    .descripcionnosotros{
        font-size: 1.5vw;
        padding-left: 5.5rem;
    }
    /* ---- FIN HEADER -----*/

    /* BARRA DE MENU */
    .menu{
        text-align: right;
        font-size: 0.7em;
        height: 5vw;
    }
    .menu a{
        padding: 0.5rem;
    }
    /* --- FIN BARRA DE MENU ---*/
    
    /* DESTACADOS */
    h2{
        font-size: 0.8em;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: black 0.1vw solid;
        height: 5vw;
    }
    h4{
        padding: 0.1rem;  
    }
    /* ----FIN DESTACADOS ---- */
 
    /* CONTACTO */
    .h3{
        font-size: 1em;
    }
    form{
        border-top: 0.1rem black solid;
    }
    /* ---- FIN CONTACTO ---- */
    
    /* NOSOTROS */
    .resumen{
        max-height: 700px;
    }
    .nosotros{
       display: inline-block;
        max-width: 700px;
        height: 450px;
        margin: 3vw 0vw 0vw 3vw;
    }
    .detalle{   
        max-width: 700px;
        padding-left: 2vw;
        padding-right: 0vw;
        height: auto;
    }
    .detalle h1{
        font-size: 2.5vw;
    }
    .detalle p{
        font-size: 1.7vw;
    }
    .gmapa{  
        float: none;
        margin-top: 2vw;
        max-width: 710px;
        height: 200px;
    }
    .gmapa iframe{
        padding-left: 6vw;
        max-width: 700px;
        height: 200px;
    }

    /* CATALOGO */
    main p{
        font-size: 2vw ;
    }
    /* ------ FIN CATALOGO ----- */

    /* ---- FOOTER ---- */
    footer{
        height: 10vw;
    }
    .iconos span{
        font-size: 1.7vw;
        padding: 0.5em;
    }
    .iconos {
        font-size: 1.7VW;
    }
    /* ---- FIN FOOTER ---- */
    
    /* ---- FOOTER INDEX ---- */
    .iconosInicio{
        font-size: 2VW;
    }
    .iconoInicio > span{
        font-size: 2vw;
        padding: 0.7em;
    }
    /* ---- FIN FOOTER INDEX ---- */
}
@media screen and (min-width:768px) and (max-width:1023px){
    /*  INDEX  */
    #LogoInicio {
        margin-top: 15%;
    }
    /*  --- FIN INDEX --- */

    /* HEADER */
    .Logo{
        width: 15%;
        height: 15vw;
        padding: 0.5em;
    }
    .Logo img{
        margin-top: 3px;
        margin-left: 3px;
        width: 70%;
    }
    .encabezado{
        height: 6em;
    }
    .subtitulo{
      /*text-align: center; */
        padding-left: 12rem;
        font-size: 3vw;
        padding-top: 1.5rem;
    }
    .descripcionnosotros{
        font-size: 1.5vw;
        padding-left: 27vw;
    }
    /* ---- FIN HEADER -----*/

    /* BARRA DE MENU */
    .menu{
        text-align: right;
        font-size: 1em;
        height: 5vw;
        padding-top: 0.3em;
    }
    .menu a{
        padding: 0.5rem;
    }
    /* --- FIN BARRA DE MENU ---*/

    /* DESTACADOS */
    h2{
        font-size: 1.2em;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: black 0.1vw solid;
        height: 4vw;
    }
    h4{
        padding: 0.1rem;  
    }
    /* ----FIN DESTACADOS ---- */

    /* CONTACTO */
    .h3{
        font-size: 1em;
    }
    /* ---- FIN CONTACTO ---- */

    /* NOSOTROS */
    .resumen{
      /*  min-height: 750px;*/
        max-height: 600px;
    }
    .nosotros{
        /*display: inline-block;*/
        width: 650px;
        height: 450px;
        margin: 3vw 0vw 0vw 3vw;
    }
    .detalle{   
        width: 450px;
        padding-left: 2vw;
        padding-right: 0vw;
        height: 250px;
    }
    .detalle h1{
        font-size: 2.5vw;
    }
    .detalle p{
        font-size: 1.7vw;
    }
    .gmapa{  
        /*float: none;*/
        width: 350px;
        height: 350px;
    }
    .gmapa iframe{
        padding-left: 6vw;
        width: 350px;
        height: 350px;
    }
    /* CATALOGO */
    main p{
        font-size: 2vw ;
    }
    /* ------ FIN CATALOGO ----- */
   
    /* ---- FOOTER ---- */
    footer{
        height: 10vw;
    }
    .iconos span{
        font-size: 1.7vw;
        padding: 0.5em;
    }
    .iconos {
        font-size: 1.7VW;
    }
    /* ---- FIN FOOTER ---- */

    /* ---- FOOTER INDEX ---- */
    .iconosInicio{
        font-size: 2VW;
    }
    .iconoInicio > span{
        font-size: 2vw;
        padding: 0.7em;
    }
    /* ---- FIN FOOTER INDEX ---- */
}
@media screen and (min-width:1024px) and (max-width:1200px){
    /*  INDEX  */
    #LogoInicio {
        margin-top: 25%;
    }
    /*  --- FIN INDEX --- */
 
    /* HEADER */
    .Logo{
        width: 15%;
        height: 15vw;
        padding: 0.5em;
    }
     .Logo img{
        margin-top: 3px;
        margin-left: 3px;
        width: 50%;
     }
    .encabezado{
        height: 6em;
     }
    .subtitulo{
       /*text-align: center; */
        padding-left: 16rem;
        font-size: 3vw;
        padding-top: 1.5rem;
    }
    .descripcionnosotros{
        font-size: 1.5vw;
        padding-left: 27vw;
     }
    /* ---- FIN HEADER -----*/
 
     /* BARRA DE MENU */
    .menu{
        text-align: right;
        font-size: 1em;
        height: 5vw;
        padding-top: 0.3em;
    }
    .menu a{
        padding: 0.5rem;
    }
    /* --- FIN BARRA DE MENU ---*/
 
    /* DESTACADOS */
    h2{
        font-size: 1.2em;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: black 0.1vw solid;
        height: 4vw;
    }
    h4{
        padding: 0.1rem;  
    }
    /* ----FIN DESTACADOS ---- */
 
    /* CONTACTO */
    .h3{
        font-size: 1em;
    }
    /* ---- FIN CONTACTO ---- */
 
    /* NOSOTROS */
    .resumen{
        min-height: 460px; 
    }
    .nosotros{
        display: inline-block;
        min-width: 1000px;
        height: 460px;
        margin: 3vw 0vw 0vw 3vw;
    }
    .detalle{   
        width: 500px;
        padding-left: 1vw;
        padding-right: 0vw;
        height: 460px;
    }
    .detalle h1{
        font-size: 2.5vw;
    }
    .detalle p{
        font-size: 1.7vw;
    }
    .gmapa{  
        float: rigth;
        padding-right: 2vw;
        width: 450px;
        height: 450px;
    }
    .gmapa iframe{
        width: 400px;
        height: 400px;
    }
    /* ---- FIN NOSOTROS ---- */
    
    /* CATALOGO */
    main p{
        font-size: 2vw ;
    }
    /* ------ FIN CATALOGO ----- */
    
    /* ---- FOOTER ---- */
    footer{
        height: 10vw;
    }
    /* ---- FIN FOOTER ---- */
}
@media (min-width:1201px){
  /*  INDEX  */
    #LogoInicio {
        margin-top: 6%;
    }
    /*  --- FIN INDEX --- */

    /* HEADER */
    .encabezado{
        height: 7em;
    }
    .Logo{
        width: 20%;
        height: 20vw;
        padding: 0.3em;
    }
    .Logo img{
        margin-top: 3px;
        margin-left: 3px;
        width: 38%;
    }
    .subtitulo{
        /*text-align: center; */
       
        padding-left: 15rem;
        font-size: 3vw;
        padding-top: 2rem;
    }
    .descripcionnosotros{
        font-size: 1.5vw;
        padding-left: 19vw;
    }
    /* ---- FIN HEADER -----*/

    /* BARRA DE MENU */
    .menu{
        text-align: right;
        font-size: 1.4em;
        height: 4.5vw;
        padding-top: 0.3em;
    }
    .menu a{
        padding: 0.5rem;
    }
    /* --- FIN BARRA DE MENU ---*/

    /* DESTACADOS */
    h2{
        font-size: 1.7em;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: black 0.1vw solid;
        height: 4vw;
    }
    /*----- FIN DESTACADOS -----*/  

    /* NOSOTROS */
    .resumen{
        min-height: 460px;
        min-width: 1025px;
    }
    .nosotros{
        /*display: inline-block;*/
        min-width: 1025px;
        height: 460px;
        margin: 3vw 0vw 0vw 3vw;
    }
    .detalle{   
        width: 650px;
        padding-left: 2vw;
        padding-right: 0vw;
        height: 460px;
    }
    .detalle h1{
        font-size: 2.5vw;
    }
    .detalle p{
        font-size: 1.5vw;
    }
    .gmapa{  
        /*float: none;*/
        width: 550px;
        height: 450px;
    }
    .gmapa iframe{
        padding-left: 6vw;
        width: 500px;
        height: 400px;
    }

    /* CATALOGO */
        main p{
            font-size: 2vw ;
        }

    /* ------ FIN CATALOGO ----- */
    
    /* ---- FOOTER ---- */
    footer{
        height: 10vw;
    }
    .iconos span{
        font-size: 1.7vw;
        padding: 0.5em;
    }
    .iconos {
        font-size: 1.7VW;
    }
    /* ---- FIN FOOTER ---- */

    /* ---- FOOTER INDEX ---- */
    .iconosInicio{
        font-size: 2VW;
    }
    .iconoInicio > span{
        font-size: 2vw;
        padding: 0.7em;
    }
    /* ---- FIN FOOTER INDEX ---- */
}
